@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap');

:root
{
  /* Typograph */
  --text-small: 400 18px 'Kaisei HarunoUmi', serif;
  --text-card: 400 15px 'Kaisei HarunoUmi', serif;

  /* Color */
  --current-color: #b3b6ff; 
  --hover-color: #d85e5e;
}

*
{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body, html
{
  width: 100%;
  height: 100%;

  background: #3d3d3d;
}

header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  height: 10vh;

  padding: 0 2rem;

  .search-container
  {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 260px;
    height: 46%;

    border: 2px solid var(--current-color);
    border-radius: 8px;

    margin-left: -5.5rem;
    padding: 0 8px;

  }

  input[type='search']
  {
    width: 100%;
    height: 100%;

    border-radius: 8px;

    border: none;
    outline: none;
    background: none;

    color: #fff;
    font-size: 17px;
  }

  @media (max-width: 500px){
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 20vh;

    .search-container
    {
      margin: 0;

      height: 40px;
    }
  }
}

main
{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 75vh;

  .card
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 42rem;
    min-height: 40vh;
    padding: 3rem 0;

    border: 2px solid var(--current-color);
    border-radius: 8px;

    transition: .2s;

    box-shadow: 1px 1px 5px var(--current-color);

    &:hover
    {
      border: 2px solid var(--hover-color);
      box-shadow: 3px 3px 6px var(--hover-color);
    }


    .poke-name
    {
      font: var(--text-small);
      color: var(--current-color);

      text-transform: uppercase;
      cursor: default;
      transition: .2s;

      &:hover
      {
        color: var(--hover-color);
      }      
    }

    img
    {
      width: 150px;
    }

    .abilities
    {
      font: var(--text-card);
      color: var(--current-color);

      text-transform: uppercase;
      line-height: 23px;
      letter-spacing: 2px;

      cursor: default;

      transition: .2s;

      &:hover
      {
        color: var(--hover-color);
      }
    }
  }

  @media (max-width: 500px){
    width: 100%;
    height: 70vh;

    align-items: center;
    justify-content: center;
    
    .card
    {
      width: 90%
    }
  };
}